h1{
	font-size: 40px; 
	line-height: 2;	
	color: yellow;
	letter-spacing: 5px;
}

.header1_byes{
	font-size: 32px; 
	line-height: 2;	
	color: navy;
	letter-spacing: 5px;
}

.header2_byes{
	font-size: 28px; 
	line-height: 2;	
	color: orange;
	letter-spacing: 5px;
}

.header3_byes{
	font-size: 24px; 
	line-height: 2;	
	color: magenta;
	letter-spacing: 5px;
}

.header4_byes{
	font-size: 20px; 
	line-height: 2;	
	color: lightblue;
	letter-spacing: 5px;
}


.header5_byes{
	font-size: 16px; 
	line-height: 2;	
	color: crimson;
	letter-spacing: 5px;
}

.header6_byes{
	font-size: 12px; 
	line-height: 2;	
	color: green;
	letter-spacing: 5px;
}

a{
	text-decoration: none;
	color: yellow;
}

.footer-menu{
	list-style: none;
}


a{
	text-decoration: none;
	color: yellow;
}

.footer-menu_item a{
	text-transform: uppercase;
	text-decoration: none;
	color: yellow;
}

.footer-menu_item .footer-menu_link-green{
	color: green;
}

.footer-menu_link{
	text-decoration: line-through;
	color: green
}

#footer-menu{
	background: #356daa
}

p{
	font-size: 24px;
	line-height: 1.5;
	text-align: justify;
	text-indent: 25px;
}


.charge{
    position: relative;
    background-size: cover;
    background-position: 50%;
    min-height: 430px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px
}

.prod_img{
    height: 64px;
    width: 64px;
    align-items: left;
    padding: 1px;
}

.card{
    font-size: 12px;
	line-height: 1.5;
	text-align: justify;
	text-indent: 25px;
    position: absolute;
    width: 100%;
    max-height: 100%;
    color: #fff;
    text-align: center;
    font-size: 13px;
    background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent)
}

.phone{
    color: black;
    
}

.el_li li:first-child{
    color: yellow;
    
}
.el_li li:last-child{
    color: red;
    
}

