*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 15px;
	border-right: 1px dotted #08c;
	border-left: 1px dotted #08c;
	
}

header{
	background: #08c;
	position: relative;
	background-image: url(https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	
/*
	background: #000 url(header-bg.jpg) center no-repeat;
	background-size: cover;
*/
}

.bg-over{
	background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	position: absolute;
	left: 60%;
	right: 0;
	top: 0;
	bottom: -25px;
	z-index: 1;
}

header .container:nth-child(2){
	min-height: 80vh;
	z-index: 2;
	position: relative;
}


.top-menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	list-style: none;
	position: relative;
	z-index: 3;
}

.news .container{
	display: flex;
	justify-content: space-between;
}

.news__item{
	flex: 0 0 30%;
	background-color: #08c;
	min-height: 500px;
}
