*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.top-menu{
	position: fixed;
	background: #08c;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: 10px 15px;
}

header{
	min-height: 100px;
}

.top-menu a{
	color: #fff;
	text-decoration: none;
}

.container{
	padding-left: 15px;
	padding-right: 15px;
}
p{
	font-size: 14px;
}

@media all and (min-width: 768px){
	.top-menu{
		position: static;
	}
	p{
		font-size: 20px;
	}
}
@media all and (min-width: 1024px){
	p{
		font-size: 24px;
	}
}


